<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
</script>

<template><v-icon icon="mdi-home" />></template>

<style scoped></style>
